<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqie.mapper.UserMapper">

    <!--    通过id查询-->
    <select id="queryUserByCode" resultType="User">
        select * from user where code=#{code};
    </select>

    <!--  验证用户名是否重复  -->
    <select id="ValidationName" resultType="User">
        select * from user where code=#{code};
    </select>

    <insert id="addUser" parameterType="User">
        insert into user (code,name,password,perms) values (#{code},#{name},#{password},#{perms})
    </insert>
</mapper>